body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.oridomi-root {
  background-color: #f1f4f4;
  height: 300px;
  width: 200px;
  position: absolute;
  left: 10px;
  border: 1px solid red;
}

.nested-level-0 {
  height: 48px;
}

.nested-level-1 {
  height: 38px;
  padding: 4px 16px 4px 48px !important;
}

.nested-level-2 {
  height: 48px;
}

.MuiAppBar-root {
  z-index: 3000 !important;
}

div.primary-drawer-node {
  background-color: #03506f;
}

div.primary-drawer-node:hover {
  background-color: #022e40;
}

div.primary-drawer-node .MuiTypography-root {
  font-weight: bold !important;
  color: #fff;
}

/*table.MuiTable-root tr.MuiTableRow-root td.MuiTableCell-root {
  padding: 2px;
}*/